<a href="https://colab.research.google.com/github/Harish443/Pytho_codes/blob/main/C25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#sum of numbers using for

x=int(input())
count=0

for i in range(x+1):
  count+=i

print("sum = ",count)

5
sum =  15

In [ ]:
#sum of numbers using while

x=int(input())
y=int(input())
count=x

while(x<=y):
    count+=x
    x+=1

print("sum",count)

6
10
sum 46

In [ ]:
#finding avg of series
'''
x=int(input())
y=int(input())
count=0
z=0
for i in range(x,y+1):
    count+=i
    z+=1
print("avg = ",count/z)
'''

#Or


x=int(input())#starting
y=int(input())#ending
count=[]
z=0

for i in range(x,y+1):
  count.append(i)
  d=len(count)
  z+=i
print("avg = ",z/d)

3
10
avg =  6.5

In [ ]:
#area of circle

x=int(input())
'''
circle=3.14*x**2;
print("area of circle = ",circle)
'''

circle=3.14*pow(x,2);
print("area of circle = ",circle)

5
area of circle =  78.5

In [ ]:
#finding duplicates
x=input();      #abcda

for i in x:
  n=0
  for j in x:   #abcda
    if i==j:
      n+=1
  if n>=2:
    print("yes")
    break
else:
    print("no")

abcda
yes

In [ ]:
#finding a number is fibonic or not

n = int(input())

n1 = (5*(n**2)+4)
n2 = (5*(n**2)-4)
if ((n1**(0.5))**2) == n1 or ((n2**(0.5))**2) == n2:
  print("Yes")
else:
  print("No")

4

9

In [ ]:
import math

def is_perfect_square(n):
    sqrt_n = int(math.sqrt(n))
    return sqrt_n * sqrt_n == n

# Take input from the user
num = int(input("Enter a number: "))

# Check if the number is a Fibonacci number
fib_check1 = 5 * num * num + 4
fib_check2 = 5 * num * num - 4

if is_perfect_square(fib_check1) or is_perfect_square(fib_check2):
    print(f"{num}  is a Fibonacci number.")
else:
    print(f"{num} is not a Fibonacci number.")

Enter a number: 3
3  is a Fibonacci number.

In [ ]:
n=int(input())

if n>=91 and n<=100:
  print("Grade A")
elif n>=81 and n<=90:
  print("Grade B")
elif n>=71 and n<=80:
  print("Grade C")
elif n>=61 and n<=70:
  print("Grade D")
elif n>=0 and n<=60:
  print("Grade E")
else:
  print("enter the correct mark")

105
enter the correct mark

In [ ]:

'''
if n==2:
  print(f"{n} is prime number")
elif n%2==0 or (n==1):
  print(f"{n} is a not prime number")
else:
   print(f"{n} is a prime number")'''

n=int(input())
x=0

if x==1:
  print(f"{n} is not prime")

for i in range(2,n):
  if n%i==0:
    x+=1
    if x>0:
      print( n,"is not a prime")
      break
else:
  print(n," is a prime number")

5
5  is a prime number

In [ ]:
'''
n1=int(input())
n2=int(input())

print(sum([n1,n2]))
'''
#adding two numbers using bitwise operator

a=(5&5)
b=a<<1
print(b)

10

In [ ]:
a=int(input())
b=int(input())
c=a-(-b)
c

5
5

10

In [ ]:
# celcius to farenhiet

c=int(input())
f=(c*1.8)+32
f

100

212.0

In [ ]:
a=(7^3)
b=(7&3)<<1
c=(a+b)
print(c)

4
6
10

In [ ]:
#printing number one by one
'''
x=input()
y=0                                 x=input()
for i in (x):             or        for i in range(len(x)):
  print(x[y])                           print(x[i])
  y+=1
'''
#or
'''
x=input()
for each in x:
  print(each)   '''



x=int(input())
while (x>0):
   t=x%10
   x//=10
   print(t)

10
0
1

In [ ]:
#to find it is a perfect number
'''
n=int(input())
x=[]
for i in range(1,n):
  if n%i==0:
    x.append(i)
y=sum(x[:])
if y==n:
  print("perfect")
else:
  print("not perfect")'''

  #or

n=int(input())
x=0
for i in range(1,n//2+1):
  if n%i==0:
    x+=i
    if n==x:
      print("Perfect")
      break
else:
  print("Imperfect")

6
Perfect

In [ ]:
#to check num is armstrong or not

n="153"
x=[]
for i in n:
  a=int(i)**len(n)
  x.append(a)
print(x)
y=sum(x)
# if y==int(n):
  # print("num is armstrong")
# else:
  # print("num is not an armstrong")

<class 'list'>

In [ ]:
#checking given number is binary or not

n=input()
lst=[]
for i in n:
  i=int(i)
  lst.append(i)
x=0
for i in lst:
  if i!=0 and i!=1:
    x+=1
if x==0:
  print("Binary")
else:
  print("Not Binary")

1111
Binary

In [ ]:
#reversing a string
'''
n=input()
for i in reversed(n):
  print(i,end="")'''

x=input()
y=str()
for i in x:
  y=i+y
print(y)

hgfdsa
asdfgh

In [ ]:
#reversing a string

num=int(input("Enter:"))
digits=[]
while num > 0:
   digit = num % 10
   digits.append(digit)
   num //= 10
for digit in reversed(digits):
  print(digit)

Enter:44
4
4

In [ ]:
n=int(input())
sum=0
for i in range(1,n//2+1):
  if n%i==0:
    sum+=i
    if n==sum:
      print("Perfect")
      break
else:
  print("Imperfect")

6
Perfect

In [ ]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

10
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

In [ ]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

10
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [ ]:
n=int(input())
for i in range(n):
    for j in range(n-i):
        print("*",end=" ")
    print()

10
* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
n=int(input())
for i in range(n):
    for j in range(n):
        print("*",end=" ")
    print()

10
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [ ]:
n=int(input())
for i in range(1,n):
    for j in range(1,i+1):
        print("❤",end=" ")
    print()
for i in range(n):
    for j in range(n-i):
        print("❤",end=" ")
    print()

9
❤
❤ ❤
❤ ❤ ❤
❤ ❤ ❤ ❤
❤ ❤ ❤ ❤ ❤
❤ ❤ ❤ ❤ ❤ ❤
❤ ❤ ❤ ❤ ❤ ❤ ❤
❤ ❤ ❤ ❤ ❤ ❤ ❤ ❤
❤ ❤ ❤ ❤ ❤ ❤ ❤ ❤ ❤
❤ ❤ ❤ ❤ ❤ ❤ ❤ ❤
❤ ❤ ❤ ❤ ❤ ❤ ❤
❤ ❤ ❤ ❤ ❤ ❤
❤ ❤ ❤ ❤ ❤
❤ ❤ ❤ ❤
❤ ❤ ❤
❤ ❤
❤

In [ ]:
n=int(input())

for i in range(n):
  for j in range(n):
    if i==0 or i==n-1:
      print("#",end=" ")
    elif(n//2==j):
      print("#",end=" ")
    else:
      print(" ",end=" ")
  print()

3
# # #
  #
# # #

In [ ]:
n=int(input())

for i in range(n):
  for j in range(n-2):
    if j==0 or j==(n-3):
      print("#",end=" ")
    elif i==(n//2) or (i==0) or (i==n-1):
      print("#",end=" ")
    else:
      print(" ",end=" ")
  print()

5
# # #
#   #
# # #
#   #
# # #

In [ ]:
n=int(input())

for i in range(n):
  for j in range(n-2):
    if i==0 and (j==0 or j==(n-3)):
      print(" ",end=" ")
    elif j==0 or j==(n-3):
      print("*",end=" ")
    elif i==0 or i==(n//2):
      print("*", end=" ")
    else:
      print(" ",end=" ")
  print()

9
  * * * * *
*           *
*           *
*           *
* * * * * * *
*           *
*           *
*           *
*           *

In [ ]:
n=int(input())

for i in range(n):
  for j in range(n-2):
    if i==0 and (j==0 or j==(n-3)):
      print(" ",end=" ")
    elif i==n-1 and (j==0 or j==(n-3)):
      print(" ",end=" ")
    elif i==n//2 and (j==0 or j==(n-3)):
      print(" ",end=" ")
    elif j==0 or j==(n-3):
      print("*",end=" ")
    elif i==0 or i==(n//2) or i==n-1:
      print("*", end=" ")
    else:
      print(" ",end=" ")
  print()

9
  * * * * *
*           *
*           *
*           *
  * * * * *
*           *
*           *
*           *
  * * * * *

In [ ]:
n=int(input())

for i in range(n):
  for j in range(n-2):
    if i==0 and j==(n-3):
      print(" ",end=" ")
    elif i==n-1 and j==(n-3):
      print(" ",end=" ")
    elif i==(n//2) and j==(n-3):
      print(" ",end=" ")
    elif j==0 or j==(n-3):
      print("*",end=" ")
    elif i==0 or i==(n//2) or i==n-1:
      print("*", end=" ")
    else:
      print(" ",end=" ")
  print()

9
* * * * * *
*           *
*           *
*           *
* * * * * *
*           *
*           *
*           *
* * * * * *

In [ ]:
n=int(input())

for i in range (n+1):
  for j in range(n+1):
    if i==5 or j==5:
      print("*",end=" ")
    else :
      print(" ",end=" ")
  print()

10
          *
          *
          *
          *
          *
* * * * * * * * * * *
          *
          *
          *
          *
          *

In [ ]:
row=int(input())
for i in range(row):
  for j in range(row-2):
    if j==0 or j==row-2-1 or i==0 or i==(row-1) or i==row//2:
      if(i==0 or i==row//2 or i==row-1) and j==row-2-1:
        print(" ",end=" ")
      else:
        print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

10
* * * * * * *
*             *
*             *
*             *
*             *
* * * * * * *
*             *
*             *
*             *
* * * * * * *

In [ ]:
n=5;
y=0
for i in range(n):
  for j in range(n):
    if i==n-1 or j== (n//2):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

    *
    *
    *
    *
* * * * *

In [ ]:

n = int(input())
start = 1
cnt = 2
for i in range(n):
    print(" "*(n+1-cnt), end=" ")
    print("*"*start)
    start+=2
    cnt += 1

In [ ]:

n = int(input())
start = 1
cnt = 2
for i in range(n):
    print("  "*(n+1-cnt), end=" ")
    print("* "*start)
    start+=2
    cnt += 1

5
         *
       * * *
     * * * * *
   * * * * * * *
 * * * * * * * * *

In [ ]:
x=int(input())
for i in range(x):
    for j in range(x):
        if i==0 or i==x//2 or i==x-1 or j==0 or j==x-1:
            print("*",end=" ")
        elif
        else:
            print(" ",end=" ")
    print()

9
* * * * * * * * *
*               *
*               *
*               *
* * * * * * * * *
*               *
*               *
*               *
* * * * * * * * *

In [ ]:
x=int(input())
for i in range(x):
    for j in range(x):
        if i==j or i+j==x-1:
            print("*",end=" ")
        else:
            print(" ",end="")
    print()

8
*       *
 *     *
  *   *
   * *
   * *
  *   *
 *     *
*       *

In [ ]:
x=9
for i in range(x):
    for j in range(x):
        if  (i==0 and j==0) or (j==x-1 and i==0):
            print(" ",end=" ")

        elif i==0 or j==0 or i==x//2 or j==x-1:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

  * * * * * * *
*               *
*               *
*               *
* * * * * * * * *
*               *
*               *
*               *
*               *

In [ ]:
# multiplying without *
'''n1= int(input())
n2=int(input())
count=n2
product=0

while count > 0:
  count-=1
  product+=n1
print(product)'''

#or
n1=4
n2=5
pro=0
for i in range(n2):
  pro+=n1
print(pro)

20

In [ ]:
# bitwise addition
a=5
b=5
c=a&b
print(c<<1)

10

In [ ]:
#bitwise subration

a=5
b=3
c=a&b
print(c<<1)

2

In [ ]:
a=6
b=2
c=a&b
print(c<<2)

8

In [ ]:
#divison without / or //
'''
n1=int(input())
n2=int(input())
temp=0

if n1<n2:
  print(0)
else:
  rem=n1%n2
  for i in range(n1):
    temp=(i*n2)+rem
    if temp==n1:
      print(i)
      break'''

  #or

n1=int(input())
n2=int(input())
result=0

while n1>=n2:
  result+=1
  n1-=n2
print(result   )

6
3
2

In [ ]:
n1 = int(input())
n2 = int(input())
print(f"{n1},{n2} is",n1+~n2+1)

In [ ]:
x=int(input())
for i in range(1,x+1):
  for j in range(j,i+1):
    print(i,end=" ")
  print()

9
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9

In [ ]:
x=int(input())
for i in range(1,x):
  for j in range(0,i):
    print(i,end=" ")
  print()

9
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8

In [ ]:
x=10
for i in range(x):
  for j in range(x):

    if i==j:
      print(" ",end=" ")
    elif j==0 or i==x-1 or i==0 or j==x-1:
      print("1",end=" ")
    elif (j==1 or  i==x-2 or j==x-2 or i==1):
      print("2",end=" ")
    elif (j==2 or  i==x-3 or j==x-3 or i==2):
      print("3", end=" ")
    else:
      print(" ",end=" ")
  print()

  1 1 1 1 1 1 1 1 1
1   2 2 2 2 2 2 2 1
1 2   3 3 3 3 3 2 1
1 2 3         3 2 1
1 2 3         3 2 1
1 2 3         3 2 1
1 2 3         3 2 1
1 2 3 3 3 3 3   2 1
1 2 2 2 2 2 2 2   1
1 1 1 1 1 1 1 1 1

In [ ]:
# char = input("enter only one char element: ")

# print(ord(char))
# print(chr(ord(char)))
# print(chr(128512))
friend = input("enter friend name")
emoji = {"gentle smile": 128512, "die laugh": 128514, "sad":128543}
inp_emoji = input("enter the emoji name: ")
print(f"hi, {friend} {emoji[inp_emoji]}")

enter friend namehdf
enter the emoji name: sad
hi, hdf 128543

In [ ]:
#print("hello \\ world")
print("Harish\'s Market")

Harish's Market

In [ ]:
'''multiplication,divsion have same precedence
   additoin,subration have same precedence
   first precedence is to ()'''
# methods
x="harish raja sekar krishna"
print(x.title())
print(x.capitalize())
print(x.upper())
print(x.lower())

Harish Raja Sekar Krishna
Harish raja sekar krishna
HARISH RAJA SEKAR KRISHNA
harish raja sekar krishna

In [ ]:
string=input()
dup=[]
count=string.count(string[0])

for i in string:
  if string.count(i)>=2:
    dup.append(i)
print(*dup) #super concepthuu

for i in dup:
  print(i,end=" ")

aaaaabbbbbbccccccdddddd
['a', 'a', 'a', 'a', 'a', 'b', 'b', 'b', 'b', 'b', 'b', 'c', 'c', 'c', 'c', 'c', 'c', 'd', 'd', 'd', 'd', 'd', 'd']
a a a a a b b b b b b c c c c c c d d d d d d
a a a a a b b b b b b c c c c c c d d d d d d

In [ ]:
#functions

def add(x,y):
  return x+y

a=int(input())
b=int(input())


add(a,b)

01
20

21

In [ ]:
#printing fibonacci series using iterative method

def fib(n):
  a=[0,1]
  if n==0:
    a=[]
    return a
  elif n==1:
    a=[0]
    return a
  elif n==2:
    print(*a)
  else:
    for i in range(1,n-1):
      c=a[i-1]+a[i]
      a.append(c)
    return a


b=int(input())
print(*fib(b))

5
0 1 1 2 3

In [ ]:
#separating string without split

string = input() # "yellow green purple red white"
for i in string:
  if i == " ":
    print()
  else:
    print(i, end="")

yellow green purple red white
yellow
green
purple
red
white

In [ ]:
# counting letters

string =input()
for i in string:
  count=0
  for j in string:
    if(i==j):
      count+=1
  print(i,count,sep="",end=" ")

hello,hello
h2 e2 l4 l4 o2 ,1 h2 e2 l4 l4 o2

In [ ]:
#iterative method

n=int(input())
sum=0
for i in range(1,n+1):
  sum+=i
print(sum)

4
10

In [ ]:
#recurssive Method
# factorial using recursion
n=int(input())

def fact(n):
  if n==0:
    return 1
  return n*fact(n-1)

print(fact(n))

5
120

In [ ]:
# square numbers using recursion
n=int(input())

def sqr_n(n):
  if n==0:
    return 0
  return (n**2)+sqr_n(n-1)

print(sqr_n(n))

5
55

In [ ]:
#fib on recursion
def fibonacci(n):
    if n <= 1:
        return n
    else:
        return fibonacci(n - 1) + fibonacci(n - 2)


terms = int(input())


if terms <= 0:
    print("Number of terms should be positive.")
else:
    print("Fibonacci series:")
    for i in range(terms):
        print(fibonacci(i),end=" ")

5
Fibonacci series:
0 1 1 2 3

In [ ]:
def main():
  n=int(input("Enter the nth position for fibonacci: "))
  result = fibonacci_num(n)
  print( "the %dth number in fibonacci series is: %d"%(n,result))


def fibonacci_num(n_elem):
  if n_elem <=1:
    return n_elem
  return fibonacci_num(n_elem-1)+fibonacci_num(n_elem-2)

main()

Enter the nth position for fibonacci: 9
the 9th number in fibonacci series is: 34

In [ ]:
#print year is leap year or not
#1800, 1900, 2100, 2200 and 2300 are not a leap year

n=int(input())

def year(n):
    if n%400==0 and n%100==0:
        return n,"is leap year"
    elif n%4==0 and n%100!=0:
        return n,"is leap year"
    else:
        return n,"is not leap year"

print(*year(n))

2100
2100 is not leap year

In [ ]:
# string counting
string =input()
for i in string:
  count=0
  for j in string:
    if(i==j):
      count+=1
  print(i,count,sep="",end=" ")

hellhell
h2 e2 l4 l4 h2 e2 l4 l4

In [ ]:
#printing the number list in ascending order

n=int(input("Enter no of integers: "))
arr=[]

for i in range(n):
    num=int(input())
    arr.append(num)

so_arr=sorted(arr)
print(*so_arr)

Enter no of integers: 5
1
9
2
8
5
1 2 5 8 9

In [ ]:
x=input()
count=1
for i in range(0,len(x)):
    for j in range (i+1,len(x)-1):
        if x[i]==x[j]:
            count+=1
        else:
            count=1
    print(x[i],count,sep="",end=" ")

seeeded
s1 e2 e2 e2 d1 e1 d1

In [ ]:
#mapping function

n=tuple(map(float,[1,2,4,5]))
print(*n,sep=" , ")

1.0 , 2.0 , 4.0 , 5.0

In [ ]:
#string compression

def com_str(string):
    com=""
    cnt=1
    prev_char=string[0]

    for i in range(1,len(string)):
        if string[i] == prev_char:
            cnt+=1
        else:
            com+=(prev_char + str(cnt)) *cnt
            cnt=1
            prev_char = string[i]

    com+=(prev_char +str(cnt)) *cnt
    return com

string=input()

print(com_str(string))

qazwsxwsdwedesz
q1a1z1w1s1x1w1s1d1w1e1d1e1s1z1

In [ ]:
#sorting without using function

l1=[1,2,6,8,8,4,8,75,4,3,32,576,7,2,34,579,3,35,8]

for i in range(len(l1)):
    for j in range(i, len(l1)):
        if l1[i] >=l1[j]:
            temp=l1[i]
            l1[i]=l1[j]
            l1[j]=temp   #l1[i],l1[j]=l1[j],l1[i]

print(l1)

[1, 2, 2, 3, 3, 4, 4, 6, 7, 8, 8, 8, 8, 32, 34, 35, 75, 576, 579]

In [ ]:
# bracket checking

n=input()
a=False
b=False
c=False
for i in n:
    if i=="(":
        for j in n:
            if j==")":
                n.pop(n.index(")"))
                a=True
    elif i=="[":
        for j in n:
            if j=="]":
                b=True
    elif i=="{":
        for j in n:
            if j=="}":
                c=True
else:
    print("invalid")

if a==b==c==True:
    print("valid")

(()

valid

In [ ]:
name=input()
age=input()
print(f"my name is {name},my age is {age}")

hari
56
my name is hari,my age is 56

In [ ]:
name=input()
age=float(input())
print("my name is {1},my age is {0:.3f}".format(age,name))

frs
1.234567
my name is frs,my age is 1.235